.site-link {
  display: inline-block;
  color: #333D4B;
  border: 1px solid transparent;

  &:focus {
    outline: none;
    border: 1px dashed #333D4B;
  }

  &:hover {
    opacity: 0.8;
  }
  &--dowloand{
    text-transform: uppercase;
    &::before{
      display: inline-block;
      margin-right: 6px;
      vertical-align: middle;
      width: 27px;
      height: 27px;
      background-image: url('../../img/dowloand.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
  }
    }
}

.site-link--bolder {
  padding: 6px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.site-link--git-hub {
  background-color: #161b22;
}

.site-link--site {
  background-color: #00AD9F;
}