.site-main__wrraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-main__img {
    border-radius: 50%;
    background-color: rgba(133, 128, 128, 0.856);
    cursor: pointer;
    transition: box-shadow 0.5s ease,background-color 0.5s ease;
    &:hover{
        box-shadow: 21px 6px 4px #898989d9;
        background-color: rgba(133, 128, 128, 0.856);
    }
}